

  
 
  
  .fancy-list {
    list-style: none;
    padding: 0.5em;
    margin: 0;
  }
  
  
  
  
  .fancytexthover {
    position: relative;
    display: inline-block;
  }
  
  .fancytexthover:hover .textwrapper {
    width: 100%;
    color: #08d565;
  }
  
  .textwrapper {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 0;
    display: inline-block;
    white-space: pre;
    color: #fff;
    transition: width 500ms;
    border-bottom: 1px solid;
    padding-bottom: 0.15em;
  }
  
  .textwrapper a {
    color: inherit;
  }
  