.skill {
  // padding: 100px 0;

  margin: 60px 0;
  &_title {
    font-size: 32px;
    line-height: 30px;
    font-family: 700;
    text-align: center;
    margin-bottom: 24px;
  }
  .cardSkill {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    @media (max-width: 991px) {
      margin: 8px;
    }
    &_title {
      font-size: 20px;
      font-family: 600;
      text-transform: uppercase;
      @media (max-width: 991px) {
        font-size: 14px;
      }
    }
    &_icon {
      font-size: 50px;
    }
  }
  .slick-track {
    // height: 300px;
  }
}
.nextArrow,
.prevArrow {
  height: 40px;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 1;
  right: -30px;
  position: absolute;
  background: transparent;
  top: 40%;
  cursor: pointer;
  @media (max-width: 500px) {
    right: -25px;
  }
  &:focus {
    outline: none;
  }
  svg {
    // color: #333;
    font-size: 25px;
    &:hover {
      color: rgb(232, 243, 20);
    }
  }
  @media (min-width: 768px) {
    top: 45%;
  }
}
.prevArrow {
  left: -30px;
  @media (max-width: 500px) {
    left: -25px;
  }
}
.slick {
  margin: auto;
  max-width: 840px !important;
}
