/* about */

.about-text {
  width: 70%;
  font-weight: 500;

  @media (max-width: 767px) {
    margin: 20px 0;
    width: 100%;
    font-weight: 400;
  }
}

.about-text1 {
  color: #feb633;
  font-size: 20px;
}

.about-text2 {
  font-size: 30px;
}

.about-text3 {
  color: #feb633;
}

.about-text4 {
  border-bottom: 1px solid #837f7f;
  padding-bottom: 10px;
}

.about-icon {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 20px;

  @media (max-width: 767px) {
    display: block;
    padding-top: 10px;
  }
}

.info-item {
  display: flex;
  align-items: center;
  margin: 8px 0px;

  i {
    font-size: 20px;
    margin-right: 8px;
    text-align: center;
    color: #feb633;
  }

  label,
  a {
    margin: 0;
  }
}
