.experience {
  
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 8px 24px;
  border-radius: 10px;
  margin-top: 40px;
  .title{
    text-align: center;
    padding: 12px 0 24px 0;
    font-size: 32px;
    font-weight: 600;
  }
  .main-timeline {
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    &:before {
      content: "";
      height: 95%;
      width: 2px;
      border: 2px dashed #a3a3ad;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      top: 30px;
    }

    .timeline {
      width: 50%;
      padding: 0 35px 0 27px;
      margin: 0 10px 20px 0;
      float: left;
    }

    .timeline-content {
      background: linear-gradient(#d9d9d9, #e7e7e7);
      text-align: center;
      padding: 15px 115px 15px 40px;
      border-radius: 5px;
      box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.6);
      display: block;
      position: relative;

      &:hover {
        text-decoration: none;
      }

      &:before {
        content: "";
        background: linear-gradient(to bottom, #647cde, #78b0fa);
        width: 45px;
        height: 45px;
        transform: rotate(-45deg);
        position: absolute;
        top: 13px;
        right: -58px;
        z-index: 1;
      }

      &:after {
        content: "";
        background: linear-gradient(to bottom, #647cde, #78b0fa);
        width: 45px;
        height: 45px;
        transform: rotate(-45deg);
        position: absolute;
        top: 13px;
        right: -58px;
        z-index: 1;
        background: #fff;
        transform: rotate(-45deg) scale(0.6);
      }
    }

    .timeline-icon {
      color: #fff;
      background: linear-gradient(to right, #617de0, #78b1f8);
      font-size: 23px;
      text-align: center;
      line-height: 40px;
      height: 40px;
      width: 40px;
      transform: translateY(-50%) rotate(-45deg);
      position: absolute;
      top: 50%;
      left: -20px;

      i {
        transform: rotate(45deg);
      }
    }

    .timeline-year {
      color: #fff;
      background: linear-gradient(to bottom, #617de0, #617de0, #78b1f8);
      font-size: 16px;
      font-weight: 900;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // line-height: 100px;
      height: 100%;
      width: 100px;
      border-radius: 0 0 5px 0;
      position: absolute;
      right: 0;
      top: 0;
      p {
        margin: 0;
        letter-spacing: 1px;
      }
      
      &:after {
        content: "";
        background: linear-gradient(
          to right bottom,
          #617de0 49%,
          transparent 50%
        );
        height: 33px;
        width: 33px;
        position: absolute;
        right: -33px;
        top: 0;
      }
    }
   
    .title {
      color: #000;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0 7px 0;
    }
    .company{
      color: #333;
      font-size: 14px;
      letter-spacing: 0.5px;
      margin: 0;
      font-weight: 600;
      font-style: italic;
    }
    .description {
      color: #333;
      text-align: left;
      font-size: 15px;
      letter-spacing: 0.5px;
      padding-top: 10px;
      margin: 0;
    }

    .timeline {
      &:nth-child(even) {
        padding: 0 27px 0 35px;
        margin: 0 0 20px 10px;
        float: right;

        .timeline-content {
          padding: 15px 40px 15px 115px;

          &:before,
          &:after {
            right: auto;
            left: -58px;
          }
        }

        .timeline-icon {
          left: auto;
          right: -20px;
        }

        .timeline-year {
          right: auto;
          left: 0;
          border-radius: 0 0 0 5px;

          &:after {
            transform: rotateY(180deg);
            right: auto;
            left: -33px;
          }
        }
      }

      &:nth-child(4n + 2) {
        .timeline-content:before,
        .timeline-icon {
          background: linear-gradient(to left, #f53b57, #ef5777);
        }

        .timeline-year {
          background: linear-gradient(to bottom, #f53b57, #f53b57, #ef5777);

          &:after {
            background: linear-gradient(
              to right bottom,
              #f53b57 49%,
              transparent 50%
            );
          }
        }
      }

      &:nth-child(4n + 3) {
        .timeline-content:before,
        .timeline-icon {
          background: linear-gradient(to bottom, #227e22, #63a211);
        }

        .timeline-year {
          background: linear-gradient(to bottom, #227e22, #227e22, #63a211);

          &:after {
            background: linear-gradient(
              to right bottom,
              #227e22 49%,
              transparent 50%
            );
          }
        }
      }

      &:nth-child(4n + 4) {
        .timeline-content:before,
        .timeline-icon {
          background: linear-gradient(to left, #7d5ac2, #b493fe);
        }

        .timeline-year {
          background: linear-gradient(to bottom, #7d5ac2, #7d5ac2, #b493fe);

          &:after {
            background: linear-gradient(
              to right bottom,
              #7d5ac2 49%,
              transparent 50%
            );
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .main-timeline {
      &:before {
        left: 17px;
        transform: translateX(0);
      }

      .timeline {
        width: 100%;
        padding: 0 0 27px 40px;
        margin: 0 0 30px 0;

        &:nth-child(even) {
          width: 100%;
          padding: 0 0 27px 40px;
          margin: 0 0 30px 0;
        }
      }

      .timeline-content,
      .timeline:nth-child(even) .timeline-content {
        padding: 70px 15px 35px 15px;
      }

      .timeline-content {
        &:before,
        &:after {
          height: 25px;
          width: 25px;
          top: 10px;
          right: auto;
          left: -34px;
        }
      }

      .timeline:nth-child(even) .timeline-content {
        &:before,
        &:after {
          height: 25px;
          width: 25px;
          top: 10px;
          right: auto;
          left: -34px;
        }
      }

      .timeline-icon,
      .timeline:nth-child(even) .timeline-icon {
        transform: translateY(0) translateX(50%) rotate(-45deg);
        left: auto;
        right: 50%;
        top: auto;
        bottom: -20px;
      }

      .timeline-year,
      .timeline:nth-child(even) .timeline-year {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 0 5px 5px 5px;
        right: auto;
        left: 0;
        display: flex;
        flex-direction: row;
        p{
          padding: 0 8px;
        }
      }

      .timeline-year:after,
      .timeline:nth-child(even) .timeline-year:after {
        height: 20px;
        width: 20px;
        transform: rotateY(180deg);
        right: auto;
        left: -20px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .main-timeline .title {
      font-size: 18px;
    }
  }
}
